body{
	background:#eee;
}
.container{
	background:white;
	padding-bottom: 10px;
}
.page{
	padding:10px 0;
}
.spanStyle{
	padding: 7px 0px;
	display:inline-block;
}
.confirmationLabel{
	text-align: left;
	padding: 7px 0px;
	font-weight:bold;
}

@media (min-width: 768px){
	.confirmationLabel{
		text-align: right;
	}
}