<div class="container" ng-init="calcTotal();">
			<h2>Confirmation Screen</h2>
			<p>Please review the information below, and confirm your MoviezZz Purchase!</p>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<!--<input type="text" ng-model="custName" class="form-control" id="inputFinalName" placeholder="Name" readonly>-->
						<span>{{fV.custNames}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">E-Mail</label>
					<div class="col-sm-10">
						<!--<input type="text" ng-model="custEmaiawerawerl" class="form-control" id="inputFinalName" placeholder="E-Mail" readonly>-->
						<span>{{fV.custEmail}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Phone Number</label>
					<div class="col-sm-10">
						<!--<input type="text" ng-model="custPawefawefhone" class="form-control" id="inputFinalName" placeholder="Phone Number" readonly>-->
						<span>{{fV.custPhone}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Movie</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Movie" readonly>-->
						<span>{{fV.movieChosen.moviename}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Time</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Time" readonly>-->
						<span>{{fV.movieTime}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Concession Purchases</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Concession Purchases" readonly>-->
						<span>{{fV.concPurchases}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Movie Cost</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Total Cost" readonly>-->
						<span>{{fV.movieCost | currency}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Concession Cost</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Total Cost" readonly>-->
						<span>{{fV.concTotalCost | currency}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPopcorn" class="col-sm-2 control-label">Total Cost</label>
					<div class="col-sm-10">
						<!--<input type="text" class="form-control" id="inputFinalName" placeholder="Total Cost" readonly>-->
						<span>{{fV.finalCost | currency}}</span>
					</div>
				</div>
				<input class="btn btn-default" type="submit"/>
				<input class="btn btn-default" type="reset"/>
			</form>
</div>