<!DOCTYPE html>
<html lang="EN" ng-app="moviez">
	<head>
		<title>MoviezZz, The Last Movie Theatre left on Earth!</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name="description" content="A fictional Movie Theatre, built in AngularJS created by Chris Stephens" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
 		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/moviezController.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body >
		<div class="page">
			<div class="container page-header">
				<img src="images/MoviezZz.png" class="center-block img-responsive">
			</div>
			<div class="container page-header">
				<h1>Welcome to MoviezZz!</h1>
				<p>The year is 2022, movies go straight to release on YouTube and multi-media conglomerate Piratebay.</p> 
				<p>Since 2019, movie theatres have been closing slowly around the world.</p>
				<p>Now unfortunately, we are the last remaining movie theatre left on Earth.  Come to us to see some of the greatest classics ever!</p>
			</div>
			<div class="container page-header" ng-controller="MoviezCtrl" ng-init="currentDay()">
				<h2>Movies showing @ MoviezZz</h2>
				<p>Every day we change our movie schedule, to fit you with the great movie classics from the past!.</p>
				<p>Our schedule is based on the numerical day of the week.  For example, if the day is the 1st of the month, which is an odd number, we will show our 2000's movie schedule.  If the current date is even, we will show our 1990's movie schedule!</p>
				<p>Today's date is {{movieDate}}, and today is a {{movieDayType}} movie day.
				<!--<button type="button"  class="btn btn-primary" ng-click="movies90()">1990 MOVIES </button>
				<button type="button"  class="btn btn-primary" ng-click="movies00()">2000 MOVIES </button>-->
				<p>Currently we have {{cM.obj.length}} movies from the {{movieDay}}.</p>
				<table class="table table-condensed table-responsive">
					<thead>
						<tr>
						  <th>Theatre Number</th>
						  <th>Movie Name</th>
						  <th>Release Date</th>
						  <th>IMDB Link</th>
						</tr>
					</thead>
					<tbody>
						<!--Display movies depending on day-->
						<tr ng-repeat="mv in cM.obj">
						  <th scope="row">{{mv.id}}</th>
						  <td>{{mv.moviename}}</td>
						  <td>{{mv.releasedate}}</td>
						  <td><a ng-href="{{mv.imdbLink}}" class="btn btn-info" target="_blank">IMDB </a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- ui-router -->
			<div ng-view></div>
			
		</div><!--page-->
	</body>
</html>